{% extends "base.html" %}

{% load phileo_tags %}

{% block title %}Favorites{% endblock %}

{% block bodyclass %}flex{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="/">Home</a> &rsaquo;
    <a href="{% url favorite_lists %}">Favorites</a>
</div>
{% endblock %}

{% block content_title %}<h1>Favorites for {{ user.username }}</h1>{% endblock %}

{% block content %}
<div id="content-main">

    <h2>Feats</h2>

    {% likes user "srd20.feat" as like_list %}
    <ul>
    {% for l in like_list %}
        <li><a href="{{ l.receiver.get_absolute_url }}">{{ l.receiver }}</a>: {{ l.receiver.short_description }}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}


