{% extends "base.html" %}

{% block title %}{{ feat.name }} | Feat description{% endblock %}

{% block bodyclass %}flex{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="/">Home</a> &rsaquo;
    <a href="{{ feat.get_absolute_url }}">{{ feat.name }}</a>
</div>
{% endblock %}

{% block content_title %}<h1>{{ feat }}</h1>{% endblock %}

{% block content %}
<div id="content-main">
    {% if editable %}
    <p style="float:right">
        <a href="{% url admin:srd20_feat_change feat.id %}">[edit]</a>
    </p>
    {% endif %}

    <h2>{{ feat.type }}</h2>

    {{ feat.description|safe }}

    <p><strong>Benefit</strong>:{{ feat.benefit|safe }}</p>

    {% if feat.normal %}
    <p><strong>Normal</strong>: {{ feat.normal|safe }}</p>
    {% endif %}
    {% if feat.special %}
    <p><strong>Special</strong>: {{ feat.special|safe }}</p>
    {% endif %}
    <form action="{% url favorite_feat slug=feat.altname %}" method="post">{% csrf_token %}<input type="submit" value="Favorite" /></form>
    <form action="{% url unfavorite_feat slug=feat.altname %}" method="post">{% csrf_token %}<input type="submit" value="Unfavorite" /></form>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module">
        <h2>Description</h2>
        <table>
            {% if feat.prerequisite %}
            <tr>
                <th>Prerequisite:</th>
                <td>{{ feat.prerequisite|safe }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Multiple:</th>
                <td>{{ feat.multiple|yesno:"Yes,No" }}</td>
            </tr>
            <tr>
                <th>Stack:</th>
                <td>{{ feat.stack|yesno:"Yes,No" }}</td>
            </tr>
            {% if feat.choice %}
            <tr>
                <th>Choice:</th>
                <td>{{ feat.choice }}</td>
            </tr>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}
