{% extends "base.html" %}

{% block title %}{{ feat_type.name }} | Feat type {% endblock %}

{% block bodyclass %}flex{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="/">Home</a> &rsaquo;
    <a href="{{ feat_type.get_absolute_url }}">{{ feat_type.name }}</a>
</div>
{% endblock %}

{% block content_title %}<h1>{{ feat_type }}</h1>{% endblock %}

{% block content %}
<div id="content-main">
    {% if editable %}
    <p style="float:right">
        <a href="{% url admin:srd20_feattype_change feat_type.id %}">[edit]</a>
    </p>
    {% endif %}
    <div id="description" style="clear:right;padding-top:1em">
        {{ feat_type.description|safe }}
    </div>

</div>
{% endblock %}
