<h1>{{ spell }}</h1>

<h2>{{ spell.school }}
    {% if spell.subschool %}({{ spell.subschool }}){% endif %}
    {% if spell.descriptor %}[{{spell.descriptor}}]{% endif %}</h2>

{% if editable %}
<p>
<a href="{% url admin:srd20_spell_change spell.id %}">edit</a>
</p>
{% endif %}

<table>
    {% if spell.level %}
    <tr>
        <th>Level:</th>
        <td>{{ spell.level }}</td>
    </tr>
    {% endif %}
    {% if spell.spellcraft_dc %}
    <tr>
        <th>Spellcraft DC:</th>
        <td>{{ spell.spellcraft_dc }}</td>
    </tr>
    {% endif %}
    <tr>
        <th width="25%">Components:</th>
        <td>{{ spell.components }}</td>
    </tr>
    <tr>
        <th>Casting Time:</th>
        <td>{{ spell.casting_time }}</td>
    </tr>
    <tr>
        <th>Range:</th>
        <td>{{ spell.range }}</td>
    </tr>
    {% if spell.effect %}
    <tr>
        <th>Effect:</th>
        <td>{{ spell.effect }}</td>
    </tr>
    {% endif %}
    {% if spell.target %}
    <tr>
        <th>Target:</th>
        <td>{{ spell.target }}</td>
    </tr>
    {% endif %}
    {% if spell.area %}
    <tr>
        <th>Area:</th>
        <td>{{ spell.area }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>Duration:</th>
        <td>{{ spell.duration }}</td>
    </tr>
    <tr>
        <th>Saving Throw:</th>
        <td>{{ spell.saving_throw }}</td>
    </tr>
    <tr>
        <th>Spell Resistance:</th>
        <td>{{ spell.spell_resistance }}</td>
    </tr>
    {% if spell.to_develop %}
    <tr>
        <th>To Develop:</th>
        <td>{{ spell.to_develop }}</td>
    </tr>
    {% endif %}
</table>

{{ spell.description|safe }}

{% if spell.verbal_components %}
<p><em>Verbal Components</em>: {{ spell.verbal_components }}</p>
{% endif %}
{% if spell.material_components %}
<p><em>Material Component</em>: {{ spell.material_components }}</p>
{% endif %}
{% if spell.arcane_material_components %}
<p><em>Arcane Material Component</em>: {{ spell.arcane_material_components }}</p>
{% endif %}
{% if spell.focus %}
<p><em>Focus</em>: {{ spell.focus }}</p>
{% endif %}
{% if spell.arcane_focus %}
<p><em>Arcane Focus</em>: {{ spell.arcane_focus }}</p>
{% endif %}
{% if spell.wizard_focus %}
<p><em>Wizard focus</em>: {{ spell.wizard_focus }}</p>
{% endif %}
{% if spell.sorcerer_focus %}
<p><em>Sorcerer Focus</em>: {{ spell.sorcerer_focus }}</p>
{% endif %}
{% if spell.bard_focus %}
<p><em>Bard Focus</em>: {{ spell.bard_focus }}</p>
{% endif %}
{% if spell.cleric_focus %}
<p><em>Cleric Focus</em>: {{ spell.cleric_focus }}</p>
{% endif %}
{% if spell.druid_focus %}
<p><em>Druid Focus</em>: {{ spell.druid_focus }}</p>
{% endif %}
{% if spell.xp_cost %}
<p><em>XP Cost</em>: {{ spell.xp_cost }}</p>
{% endif %}

