{% extends "admin/base.html" %}

{% block title %}SRD/d20 browser{% endblock title%}

{% block extrastyle %}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block coltype %}colSM{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="/">SRD/d20 browser</a></h1>
{% endblock %}

{% block nav-global %}{% if not user.is_active or not user.is_staff %}
<div id="user-tools">
    <a href="{% url admin:index %}">Log in</a> | <form action="{% url search.views.search_results %}" style="display: inline-block; margin-top: -5px;">Search: <input type="text" name="q"/><input type="hidden" name="search_type" value="name"> <input type="submit" value="Go"/></form>
</div>
{% endif %}{% endblock %}

{% block userlinks %}
{{ block.super }} | <form action="{% url search.views.search_results %}" style="display: inline-block; margin-top: -5px;">Search: <input type="text" name="q"/><input type="hidden" name="search_type" value="name"> <input type="submit" value="Go"/></form>
{% endblock %}

