{% extends "admin/base.html" %}

{% block title %}SRD/d20 browser{% endblock title%}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block coltype %}colSM{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="/">SRD/d20 browser</a></h1>
{% endblock %}

{% block nav-global %}{% if not user.is_active or not user.is_staff %}
<div id="user-tools">
    {% if not user.is_authenticated %}<a href="{% url auth_login %}">Log in</a>{% else %}Welcome <strong>{{user}}</strong> | <a href="{% url django.contrib.auth.views.logout %}">Logout</a> {% endif%} | <form action="{% url search:category_results %}" style="display: inline-block; margin-top: -5px;">Search: <input type="text" name="q"/><input type="submit" value="Go"/></form>
</div>
{% endif %}{% endblock %}

{% block userlinks %}
{{ block.super }} | <form action="{% url search:category_results %}" style="display: inline-block; margin-top: -5px;">Search: <input type="text" name="q"/><input type="submit" value="Go"/></form>
{% endblock %}

{% block sidebar %}
{% if user.is_authenticated %}
<div id="content-related">
    <div class="module">
        <h2>Other options</h2>
        <ul><li><a href="{% url favorite_lists %}">Favorites</a></li></ul>
    </div>
</div>
{% endif %}
{% endblock %}
