.favorite-form {
    display: inline;
}
input.favorite, input.unfavorite {
    width: 26px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    text-indent: -1000em;
}
input.favorite {
    background: url(/static/img/favorites/favorite.png) no-repeat;
}
input.unfavorite {
    background: url(/static/img/favorites/not-favorite.png) no-repeat;
}
